# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\学习资料\论文\Stroke Extraction with Deep Struct Deformable Image Registration for Offline Chinese Character\code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
